{
  "parser": "babel-eslint",
  "plugins": [
    
  ],
  "env": {
    "node": false,
    "es6": true,
    "browser": true
  },
  "globals": {
    "AbortController": true,
    "expect": true,
    "it": true,
    "require": true,
    "module": true
  },
  "extends": [ "google" ],
  "rules": {
    "max-len": [
      "warn",
      { "code": 100 }
    ],
    "require-jsdoc": "off",
    "quote-props": "error",
    "dot-notation": "error",
    "eqeqeq": ["error", "always", {"null": "ignore"}],
    "id-length": ["error", { 
      "min": 2, 
      "exceptions": [
        "x", 
        "i",
        "t",
        "k"
      ] 
    }],
    "semi": "off",
    "comma-style": ["error", "last"],
    "object-curly-spacing": ["error", "always", { "arraysInObjects": false }],
    "no-unused-vars": "off",
    "no-undef": "error",
    "no-invalid-this": "off",
    "no-new-object": "error",
    "no-new-func": "error",
    "no-param-reassign":"error",
    "no-array-constructor": "error",
    "no-confusing-arrow": "warn",
    "no-useless-constructor": "warn",
    "no-dupe-class-members": "error",
    "no-plusplus": "error",
    "no-case-declarations": "error",
    "no-nested-ternary": "error",
    "no-unneeded-ternary": "error",
    "no-duplicate-imports": "off",
    "no-mixed-operators": "error",
    "no-else-return": "error",
    "no-whitespace-before-property": "error",
    "no-new-wrappers":"error",
    "no-multi-spaces": "error",
    "nonblock-statement-body-position": ["error", "below"],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "prefer-const": "off",
    "prefer-arrow-callback": "warn",
    "prefer-template": "warn",
    "prefer-rest-params": "warn",
    "prefer-spread": "warn",
    "prefer-destructuring": ["warn", {"object": true, "array": false}],
    "template-curly-spacing": ["error", "never"],
    "one-var": ["error", "never"],
    "operator-linebreak": ["error", "after"],
    "jsx-quotes":["error", "prefer-double"],
    
  },
  "settings": {
  }
}